:root {
  --navy: #232e3f;
  --gold: #cf9421;
  --cream: #eeece3;
  --beige: #dad5c6;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--beige);
  color: #1c1c1c;
}

.main-header {
  background-color: var(--navy);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2rem;
}

.main-header h1 {
  margin: 0;
  font-size: 1.5rem;
}

nav a {
  color: var(--gold);
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: white;
}

.profile-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid var(--gold);
}

.about-section {
  display: flex;
  align-items: center;
  padding: 3rem 2rem;
  gap: 2rem;
}

.about-text {
 max-width: 600px;
  display: flex;
  flex-direction: column;
}

.section-heading {
  color: var(--gold);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.about-text h3 {
  margin-top: 0;
  font-size: 1.5rem;
}

.social-links {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.social-links img {
  width: 28px;
  height: 28px;
  transition: transform 0.2s ease;
}

.social-links img:hover {
  transform: scale(1.2);
}


/*footer design */
.main-footer {
  background-color: var(--navy);
  color: white;
  text-align: center;
  padding: 1.5rem 1rem;
  font-size: 0.9rem;
  margin-top: 2rem;
}

.main-footer p {
  margin: 0;
}